.RecipesWrapper {
  position: relative;
  z-index: 1;
}

.RecipesContainer {
  padding: 20px;
  color: rgb(240, 240, 240);
}

.RecipesContainer > div {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
  column-gap: 10px;
  padding: 10px;
}

@media (min-width: 600px) {
  .RecipesContainer {
    max-width: 90vw;
    margin: 0 auto;
  }

  .RecipesContainer div {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}

.RecipeItem {
  text-decoration: none;
  width: 100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 10px;
  background-color: rgb(48, 49, 53);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.664),
    -2px 2px 3px rgba(0, 0, 0, 0.664);
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border: 1px solid transparent;
  color: rgb(240, 240, 240);
}

@media (min-width: 600px) {
  .RecipeItem:hover {
    background-color: rgb(58, 59, 65);
    border: 1px solid rgba(255, 255, 255, 0.507);
  }
}

.RecipeItem h2 {
  font-size: 1.4rem;
  text-align: center;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  padding: 10px;
}

.DetailsContainer {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  color: rgb(200, 200, 200);
}

.FilterModal {
  background-color: rgba(0, 0, 0, 0.459);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}

.FilterWrapper {
  height: 100%;
}