.Recipe {
  color: rgb(240, 240, 240);
  padding: 20px;
}

@media (min-width: 600px) {
  .Recipe {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
}

.Recipe h2 {
  padding: 10px 0;
  margin-top: 5px;
  font-size: 1.3rem;
  color: rgb(238, 85, 85);
}

.DetailsContainer {
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
  font-size: 1.1rem;
  color: rgb(200, 200, 200);
  border-top: 1px solid rgb(240, 240, 240);
}

.Recipe ul {
  list-style: disc;
  list-style-position: outside;
  padding-left: 25px;
}

.Recipe ol {
  list-style: decimal;
  list-style-position: outside;
  padding-left: 25px;
}

.Recipe li {
  font-size: 1.2rem;
  line-height: 1.2;
  margin: 5px 0;
}

.Recipe a {
  display: block;
  padding: 10px 20px;
  margin: 0 auto;
  margin-top: 50px;
  color: white;
  background-color: rgb(45, 134, 72);
  text-decoration: none;
  text-transform: uppercase;
  width: fit-content;
}

@media (min-width: 600px) {
  .Recipe a:hover {
    background-color: rgb(56, 163, 88);
  }
}
