.Button {
  cursor: pointer;
  display: block;
  padding: 10px 20px;

  color: white;
  background-color: rgb(238, 85, 85);
  text-decoration: none;
  text-transform: uppercase;
  outline: none;
  border: none;
}

@media (min-width: 600px) {
  .Button:hover {
    background-color: rgb(246, 115, 115);
  }
}

.Save {
  margin: 0 auto;
  margin-top: 50px;
}

.Add {
  margin: 0 auto 0 10px;
}
