.AddRecipe {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  color: rgb(240, 240, 240);
  padding: 20px;
}

@media (min-width: 600px) {
  .AddRecipe {
    width: 600px;
  }
}

.AddRecipe > form > input,
.AddRecipe > form > label,
.AddRecipe > form > div > input {
  font-size: 1.1rem;
  outline: none;
  border: none;
}

.AddRecipe input {
  padding: 5px 0 5px 5px;
}

.AddRecipe label {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.AddRecipe form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.AddRecipe ul {
  list-style: disc;
  list-style-position: inside;
}

.AddRecipe ol {
  list-style: decimal;
  list-style-position: inside;
}

.TimeContainer {
  display: flex;
  align-items: center;
}

.TimeContainer input {
  width: 100%;
}

.TimeContainer p {
  margin-left: 10px;
  margin-bottom: 3px;
}
