.Nav {
  background-color: rgb(56, 74, 230);
}

.Nav ul {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto 1fr auto;
  grid-template-rows: 50px;
}

@media (min-width: 600px) {
  .Nav ul {
    padding-left: 100px;
  }
}

.Nav button {
  font-size: 1.2rem;
  padding: 0 20px;
  height: 100%;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
}

.Nav svg {
  fill: white;
}

.Nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.Nav a {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  font-size: 1.2rem;
}

.Nav a:hover,
.Nav button:hover {
  background-color: rgb(51, 99, 204);
}
